<%
var absolutePath = filename.split(site.developDir)[filename.split(site.developDir).length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('/').length -1]);
var css_js_Path = '../'.repeat([absolutePath.split('/').length -3]);
var page = {
  title: site.title.A14 + "｜" + site.name,
  description: site.description.A14,
  keywords: site.keywords,
  projectName: site.name,
  bodyClass: "c-top",
  singleCss: ["main.css"],
  singleJs: [],
  ogpType: "website",
  ogpImage: site.ogpImage,
  absolutePath: absolutePath,
  relativePath: relativePath,
  css_js_Path:css_js_Path
};
-%>

<%- include(page.relativePath + '_common/ejs/_head', {page: page, modifier: '',}); %>
<%- include(page.relativePath + '_common/ejs/_menu', {page: page, modifier: '',}); %>
<!-- contents -->
<article class="l-contents">
<div class="p-contents">
  <div class="c-article">
    <section class="p-product c-product">
      <a class="c-button__star" href="#"></a>

      <div class="c-product__container u-flex">
        <div class="c-product__imgbox">
          <img src="../img/bottle.png" alt="">
        </div>
        <div class="c-product__info">
          <h1 class="c-contents__heading--product">Special grade soy sauceSpecial grade soy sauce</h1>
          <div class="c-product__infoInner">
            <p class="c-product__infoText">It is a heavy soy sauce of this brewing.It has a mellow taste.You can use it for any dish such as boiling and sashimi.</p>
            <p class="c-product__infoText">※Notes
After buying wind please save in the refrigerator, please use as soon as possible.</p>
            <div class="p-catalog">
              <div class="c-product__updateset">
                <dl class="c-product__list">
                  <dt>Contents amount:</dt>
                  <dd>5.0L</dd>
                </dl>
                <dl class="c-product__list">
                  <dt>Main raw:</dt>
                  <dd>soybean</dd>
                </dl>
                <dl class="c-product__list">
                  <dt>Storage method:</dt>
                  <dd>refrigerated</dd>
                </dl>
                <dl class="c-product__list">
                  <dt>Order unit:</dt>
                  <dd>case</dd>
                </dl>
                <dl class="c-product__list">
                  <dt>Entering number:</dt>
                  <dd>2 pieces / case</dd>
                </dl>
                <dl class="c-product__list">
                  <dt>Comment language:</dt>
                  <dd>Japanese</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <%- include(page.relativePath + '_common/ejs/_arrow', {page: page, modifier: ''}); %>
    <section class="p-product c-product">
      <div class="c-product__container">
        <h2 class="c-product__headding">keyword</h2>
        <ul class="c-product__keyword">
          <li class="c-product__keywordlist"><a class="c-product__keywordlink" href="#">soy sauce</a></li>
          <li class="c-product__keywordlist"><a class="c-product__keywordlink" href="#">soy sauce</a></li>
          <li class="c-product__keywordlist"><a class="c-product__keywordlink" href="#">soy sauce</a></li>
          <li class="c-product__keywordlist"><a class="c-product__keywordlink" href="#">soy sauce</a></li>
        </ul>
      </div>

      <div class="c-product__container">
        <h2 class="c-product__headding">Relatedproducts</h2>
        <div class="c-product__slidesbox">
          <div class="c-product__slides">
            <section class="p-item c-cols">
              <%- include(page.relativePath + '_common/ejs/_card', {page: page, modifier: 'u-rad__items', cols: '', padding:'u-fpd18l u-fpd18r u-fpd18b', type:'p-item', fixed:'c-cols__fixed--l', height:'c-card__mv--fixed'}); %>
            </section>
          </div>
        </div>
      </div>

      <div class="c-product__container">
        <h2 class="c-product__headding">Additional information</h2>
        <div class="c-product__additional">
          <div class="c-product__slidesbox">
            <div class="c-product__slides">
              <section class="p-additional">
                <%- include(page.relativePath + '_common/ejs/_additional', {page: page, modifier: 'u-rad__items', padding:'u-fpd6l u-fpd6r u-fpd6b'}); %>
              </section>
            </div>
          </div>
          <div class="c-product__additional--text">aadfafdsfadfafdsfadfafdsfadfaaadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfdfafdsfaadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfdfafdsffdsfadfafdsfadfafdsfadfafdsfadfafdsfadfafdsfdfafdsf</div>
        </div>
      </div>
    </section>
  </div>
</div>
</article>
<!-- /contents -->
<%- include(page.relativePath + '_common/ejs/_footer', {page: page, modifier: '',}); %>
<%- include(page.relativePath + '_common/ejs/_script', {page: page, modifier: '',}); %>
