<%
var absolutePath = filename.split(site.developDir)[filename.split(site.developDir).length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('/').length -1]);
var css_js_Path = '../'.repeat([absolutePath.split('/').length -3]);
var page = {
  title: site.title.A13 + "｜" + site.name,
  description: site.description.A13,
  keywords: site.keywords,
  projectName: site.name,
  bodyClass: "c-top",
  singleCss: ["main.css"],
  singleJs: ["masonry.pkgd.min.js","jquery.textOverflowEllipsis.js"],
  ogpType: "website",
  ogpImage: site.ogpImage,
  absolutePath: absolutePath,
  relativePath: relativePath,
  css_js_Path:css_js_Path
};
-%>



<%- include(page.relativePath + '_common/ejs/_head', {page: page, modifier: '',}); %>
<!-- contents -->
<article class="l-contents">
  <div class="p-contents">
    <div class="c-article">
      <%- include(page.relativePath + '_common/ejs/_form', {page: page, modifier: '',}); %>
      <section class="p-item c-cols c-item">
        <%- include(page.relativePath + '_common/ejs/_card', {page: page, modifier: 'u-rad__items', cols: 'c-cols__md-4', ellipsis:'u-ellipsis', padding:'u-fpd21l u-fpd21r u-fmg27b', type:'p-item', fixed:'', height:'c-card__mv--fixed'}); %>
      </section>
    </div>
  </div>
</article>
<!-- /contents -->
<%- include(page.relativePath + '_common/ejs/_footer', {page: page, modifier: '',}); %>
<%- include(page.relativePath + '_common/ejs/_script', {page: page, modifier: 'ellipsis',}); %>
