<% if(page.projectName === "gulf"){ -%>
  <% if (typeof padding === undefined) { var padding = ''; } -%>
  <dl class="c-additional u-mg0b">
    <% for(var i =0; i<3; i++){ -%>
      <li class="c-additional__list <%= padding %>"><a href="#" class="c-additional__link"><img src="../img/sample-a.png" alt="aa"></a></li>
      <li class="c-additional__list <%= padding %>"><a href="#" class="c-additional__link"><img src="../img/sample-b.png" alt="aa"></a></li>
      <li class="c-additional__list <%= padding %>"><a href="#" class="c-additional__link"><img src="../img/sample-c.png" alt="aa"></a></li>
      <li class="c-additional__list <%= padding %>"><a href="#" class="c-additional__link"><img src="../img/sample-d.png" alt="aa"></a></li>
      <li class="c-additional__list <%= padding %>"><a href="#" class="c-additional__link"><img src="../img/sample-e.jpg" alt="aa"></a></li>
    <% } -%>
  </dl>
<% } -%>
