<% if(page.projectName === "gulf"){ -%>
  <% if (typeof modifier === undefined) { var modifier = ''; } -%>
  <% if (fixed){
    var boxtype = fixed;
  }else if(cols){
    var boxtype = cols;
  } -%>

  <% if (modifier == 'u-shadow--catalog'){
    modifier = 'u-shadow--catalog'
  } -%>
  <% if (typeof type === undefined) { var type = ''; } -%>
  <% if (typeof padding === undefined) { var padding = ''; } -%>
  <% if (typeof height === undefined) { var height = ''; } -%>
<% for(var i =0; i<3; i++){ -%>
  <div class="<%= boxtype %> <%= padding %> items">
    <a href="../A/A-1-3.html">
      <dl class="c-card <%= modifier %>">
        <dt class="c-card__mv <%= height %>"><img src="../img/sample-a.png" alt="aa"></dt>
        <% if (type === 'p-item') { -%>
        <dd class="c-card__titleonly"><span>TitleString</span></dd>
        <dd class="c-catalog__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</dd>
        <% }else{ -%>
        <dd class="c-card__title"><span>TitleString</span></dd>
        <% } -%>
      </dl>
    </a>
  </div>
  <div class="<%= boxtype %> <%= padding %> items">
    <a href="../A/A-1-3.html">
      <dl class="c-card <%= modifier %>">
        <dt class="c-card__mv <%= height %>">
        <span class="c-card__mv--noImg">TitleString</span>
        <img src="../img/sample-d.png" alt="aa">
        </dt>
        <% if (type === 'p-item') { -%>
        <dd class="c-card__titleonly"><span>TitleString</span></dd>
        <dd class="c-catalog__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</dd>
        <% }else{ -%>
        <dd class="c-card__title"><span>TitleString</span></dd>
        <% } -%>
      </dl>
    </a>
  </div>
  <div class="<%= boxtype %> <%= padding %> items">
    <a href="../A/A-1-3.html">
      <dl class="c-card <%= modifier %>">
        <dt class="c-card__mv <%= height %>"><img src="../img/sample-b.png" alt="aa"></dt>
        <% if (type === 'p-item') { -%>
        <dd class="c-card__titleonly"><span>TitleString</span></dd>
        <dd class="c-catalog__text">texttexttetexttexttext△texttexttext△texttexttext△texttexttext△texttexttexttetexttexttext△texttexttext△texttexttext△texttexttext△text</dd>
        <% }else{ -%>
        <dd class="c-card__title"><span>TitleString</span></dd>
        <% } -%>
      </dl>
    </a>
  </div>
  <div class="<%= boxtype %> <%= padding %> items">
    <a href="../A/A-1-3.html">
      <dl class="c-card <%= modifier %>">
        <dt class="c-card__mv <%= height %>"><img src="../img/sample-c.png" alt="aa"></dt>
        <% if (type === 'p-item') { -%>
        <dd class="c-card__titleonly"><span>TitleString</span></dd>
        <dd class="c-catalog__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</dd>
        <% }else{ -%>
        <dd class="c-card__title"><span>TitleString</span></dd>
        <% } -%>
      </dl>
    </a>
  </div>
  <div class="<%= boxtype %> <%= padding %> items">
    <a href="../A/A-1-3.html">
      <dl class="c-card <%= modifier %>">
        <dt class="c-card__mv <%= height %>"><img src="../img/sample-e.jpg" alt="aa"></dt>
        <% if (type === 'p-item') { -%>
        <dd class="c-card__titleonly"><span>TitleString</span></dd>
        <dd class="c-catalog__text">texttexttetexttexttext△texttexttext△texttexttext△texttexttext△texttexttexttetexttexttext△texttexttext△texttexttext△texttexttext△text</dd>
        <% }else{ -%>
        <dd class="c-card__title"><span>TitleString</span></dd>
        <% } -%>
      </dl>
    </a>
  </div>
<% } -%>
<% } -%>

